* {
    box-sizing: border-box !important;
    transition: ease all 0.5s;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden !important;
}
.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-height: 70px
  }
  nav {
    margin:0;
	padding-top: .5em;
    padding-bottom: .5em;
	background-color: rgb(48, 51, 59);;
    font-size: 18px;
    text-align: right;
    text-decoration: none;
  }
  
  .logo {
    display:block;
    background: hsl(182, 34%, 59%);
    max-height: 79px;
    width: 33%;
    min-width: 196.34px;
  }
  
  .logotext {
    display:block;
    color: rgb(48, 51, 59);
	font-size: 40px;
    font-weight: bold;
    padding-top: .2em;
    padding-bottom: .2em;
    padding-right: .2em;
	font-family: Arial, Helvetica, sans-serif;
  }

  .nav-links {
    display:block;
	padding:14px 20px;	
	font-size:20px;
    font-family: Arial, Helvetica, sans-serif;
    color: hsl(182, 34%, 59%);
  }
  
  .nav-item a {
    float: right;
	padding:0;
	margin:0;
	list-style: none;
	position: relative;
  }
  
  nav ul li {
	margin: 0px;
	display:inline-block;
	
	}
  
  .nav-item:hover {
    background-color: white;
  }
  
  .nav-item:hover a {
    color: rgb(46, 46, 53);
  }
  
  .logo img {
    width: 175px;
    vertical-align: middle;
  }
  /* banner image */
  .container1 {
    position: relative;
    text-align: center;
    color: white;
  }
  #header-img {
    background-image: url(img_1.jpg);
    width: 100%;
    height: 150px;
    background-position: center; 
  }
/* banner words */

  .container1 .btn {
    position: absolute;
    bottom: 8px;
    right: 40px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(182, 34%, 59%);
    color: rgb(48, 51, 59);
    font-size: x-large;
    font-weight: bolder;
    border: none;
    cursor: pointer;

  }
 

  .container1 .btn:hover {
    background-color: rgb(48, 51, 59);
    color: white;
  }

  /* content flex */


  .container {
    display: flex;
    margin-right: auto;
  }
  .flex-grid {
    display: flex;
    flex-wrap: wrap;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    width: auto;
  margin-right: 20px;
  
  }
  .about .sidebar {
    flex: 1;
  }
  .sidebar {
    background-color: aqua;
    margin-right: 15px;
    border-right: solid;
    display: flex;
    flex-direction: column;
    margin: top 5px;
    max-width: auto;

  }
  .sidebar2 {
    background-color: aqua;
    margin-right: 15px;
    border-right: solid;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    max-width: auto;
  }
  .sidebar3 {
    background-color: aqua;
    margin-right: 15px;
    border-right: solid;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    max-width: auto;
  }

  
#imgborder {
    border: 5px solid hsl(182, 34%, 59%);
    margin: 5px;
}

.surfreport{
        flex: 100%;
        width: 100%;
        position: relative;
      }
      
.led,
.calc,
.pastel,
.runbuddy {
    position: relative;
        flex: 50%;
        width: 50%;
      }

.surfreport button {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(182, 34%, 59%);
    color: rgb(48, 51, 59);
    font-size: large;
    font-weight: bold;
    border: none;
    cursor: pointer;
    left: 85px;
    bottom: 1px;
    text-align: justify;
    
}
.led button {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(182, 34%, 59%);
    color: rgb(48, 51, 59);
    font-size: large;
    font-weight: bold;
    border: none;
    cursor: pointer;
    left: 5px;
    bottom: 35px;
    text-align: justify;
  }

  .calc button {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(182, 34%, 59%);
    color: rgb(48, 51, 59);
    font-size: large;
    font-weight: bold;
    border: none;
    cursor: pointer;
    left: 5px;
    bottom: 35px;
    text-align: justify;
  }

  .pastel button {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(182, 34%, 59%);
    color: rgb(48, 51, 59);
    font-size: large;
    font-weight: bold;
    border: none;
    cursor: pointer;
    left: 5px;
    bottom: 35px;
    text-align: justify;
  }

  .runbuddy button {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(182, 34%, 59%);
    color: rgb(48, 51, 59);
    font-size: large;
    font-weight: bold;
    border: none;
    cursor: pointer;
    left: 5px;
    bottom: 35px;
    text-align: justify;
  }


 /* media queries */
 /* mobile */
@media screen and (min-width:250px) and (max-width: 480px) {
    .nav-links {
      display:block;
    }
    .navbar {
        display: flex !important;
        flex-wrap: wrap !important;
      flex-direction: column; 
      max-height: 200px
    }
    .logo {
      width: 100%; 
    }
    .nav-item {
      text-align: center; 
    }
    nav ul li {
        margin: 0px;
	display:inline-block;
        background-color: #d1d6d8;
    }
    .surfreport{
        flex-direction: column;
        max-width: 100%;
    }
    

    .led,
    .calc,
    .pastel,
    .runbuddy {
      flex: 100%;
      width: 100%;
    }
  }
    
    

   /* Tablet View */
   @media screen and (min-width:450px) and (max-width:768px) {
    .surfreport{
        flex-direction: row;
        flex: 100%;
        
    }
    .led,
    .calc,
    .pastel,
    .runbuddy {
      flex: 100%;
      width: 100%;
      flex-direction: row;
    }
    .sidebar {
        width: 25%;
  margin-left: 0px;
    }
    .sidebar2 {
        width: 25%;
  margin-left: 0px;
    }
    .sidebar3 {
        width: 25%;
  margin-left: 0px;
    }
    .sidebar-header {
        font-weight: bold;
    }
  }
  
  /* Laptop View */
       @media screen and (min-width:769px) and (max-width:1024px) {
      
    
        .surfreport{
            
            max-width: 1200px;
            flex-direction: row;
            
          }
          .led,
          .calc,
          .pastel,
          .runbuddy {
            flex: 50%;
            width: 50%;
            flex-direction: row;
          }
    .sidebar {
        max-width: 25%;
    }
  
 
    }